.auth-img {
  max-width: 150px;
}

.select-avatar img {
  padding: 0;
  margin: 0;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.select-avatar input[type="checkbox"] {
  display: none;
}

.selected-avatar::before {
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.193);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
